<div class="siimple-jumbotron" align="center">
  <div class="siimple-jumbotron-title">Welcome to Timemng</div>
  <div class="siimple-jumbotron-subtitle">Timemngは時間を記録するサービスです。</div>
  <div class="siimple-jumbotron-detail">今日一日、何をしたのか記録しましょう。</div>

  <%= link_to 'はじめる', new_user_registration_path, class:'siimple-btn siimple-btn--pink'%>
</div>
