<div class="siimple-jumbotron" align="center">
  <div class="siimple-jumbotron-title">Welcome to Timemng</div>
  <div class="siimple-jumbotron-subtitle">Timemngは時間を記録するサービスです。</div>
  <div class="siimple-jumbotron-detail">今日一日、何をしたのか記録しましょう。</div>

  <a class="siimple-btn siimple-btn--pink" href="<%= current_activity_path %>">はじめる</a>
</div>
