// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-button {
    line-height: 40px;
    width: 130px;
    height: 40px;
}
