<div class="siimple-table">
  <div class="siimple-table-header">
    <div class="siimple-table-row">
      <div class="siimple-table-cell">Label</div>
      <div class="siimple-table-cell"></div>
      <div class="siimple-table-cell"></div>
    </div>
  </div>
  <div class="siimple-table-body">
    <% @activities.each do |activity| %>
      <div class="siimple-table-row">
        <div class="siimple-table-cell"><%= activity.label %></div>
        <div class="siimple-table-cell"><%= link_to 'Edit', edit_activity_path(activity) %></div>
        <div class="siimple-table-cell"><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Activity', new_activity_path %>
